

.faq_top{
    height: 18rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.faq_top p {
    color: #f5a623;
    text-align: center;
}


.faq_bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 6rem;
    margin-bottom: 2rem;
}