.invest_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    flex-basis: 1;
    background-color: rgb(28, 28, 28);
    color: #fff;
    border-radius: 0.5rem;
    height: 30rem;
}

.invest_card_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    margin-top: 2rem;
}

.invest_card_icons {
    font-size: 3rem;
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    width: 90%;
    color: #f5a623;
}

.invest_card_top h3 {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 75%;
}

.invest_card_top p {
    color: #f5a623;
    font-size: 1.5rem;
}

.invest_card_bottom {
    width: 72%;
    height: 50%;
}

.invest_detail {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.about_card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 27%;
    height: 36rem;
    background-color: rgb(28, 28, 28);
    border-radius: 0.5rem;
    margin-top: 1.5rem;
}
.about_card_top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    color: #f5a623;
    font-size: 1.8rem;
}

.about_card_details {
    text-align: start;
    height: 68%;
    width: 80%;
}

.about_card_details h3 {
    font-size: 1.5rem;
    font-weight: bold;
}
.about_card_details p {
    font-size: 1.2rem;
}

.profile_card {
    width: 45%;
    height: 9rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.profile_card img{
    width: auto;
    height: 9rem;
    border-radius: 0.3rem;
}

.expert_detail {
    width: 55%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.expert_detail h4 {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
}

.expert_detail p {
    font-size: 0.9rem;
}

.msg_icon {
    color: #f5a623;
    align-self: start;
    background-color: grey;
    border-radius: 50%;
    padding: 0.5rem;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    
    .invest_card {
        margin: 2rem 0rem;
        width: 85%;
    }
    
    .about_card {
        width: 85%;
    }

    .profile_card {
        width: 90%;
    }

    
    
    
}

